<html>
<head>
    <style>
    	h1 { font-family: courier; }
        a { text-decoration: none; }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div>Go to:
        <a href="{{ url_for('home.view_index') }}">Home</a> |
        <a href="{{ url_for('list.view_list') }}">List</a> |
        <a href="{{ url_for('recipe.view_all_recipes') }}">Recipe</a> |
        <a href="{{ url_for('recipe.new_recipe') }}">NewRecipe</a>
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
