{% extends "base.html" %}

{% block extra_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/new_field.js') }}"></script>
<script src="{{ url_for('static', filename='js/ingredients.js') }}"></script>

<style>
    .container { width: 100%; }
    .outer_column { width: 50%; float: left; }
    .clear { clear: both; }
    .inner_column { display: table-row; }
    input { display: table-cell; }
    label { display: table-cell; }
    .list_item { display: table-cell; }
</style>
{% endblock %}

{% block content %}
    <h1>SHOPPING LIST</h1>
    <form action="" method="post" id="shopping_list">
    	<div class="container">
            <div class="outer_column">
                <div class="inner_column">
                    <label for='start_date'>Start date</label>
                    {{ form.start_date }}
                    <br />
                </div>
                <div class="inner_column">
                    <label for='start_date'>End date</label>
                    {{ form.end_date }}
                </div>
                <div class="inner_column">
                	<input type="submit" value="GET LIST">
                </div>
            </div>
            <div class="outer_column" id="ingredients_section">
                {% if shopping_list is not none %}
                    {% set counter = namespace(value=0) %}
                    {% for key, value in shopping_list.items() %}
                        <input type="text" value="{{ key }}" size=15 id="ingredients-{{ counter.value }}-ing_name"><!--
                        -->&nbsp<input type="text" value="{{ value[0] }}" size=5 style="text-align: right" id="ingredients-{{ counter.value }}-amount"><!--
                        -->&nbsp<input type="text" value="{{ value[1] }}" size=5 id="ingredients-{{ counter.value }}-unit">
                        <br />
                        {% set counter.value = counter.value + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </form>
{% endblock %}
